<!-- <div class="container-fluid ">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand text-white">Task Managment</a>
    <form class="form-inline text-white">
      {{currentTime | date:'dd-MM-yy,h:mm:ss'}}
    </form>
  </nav>
  <div class="container-fluid row">
    <div class="col-md-3" style="background: #251e1ec9;">
      <div class="card-body ">
        <p class="text-primary bg-white border border-radius " style="cursor: pointer;" routerLink="">Dashboard</p>
        <p class="text-primary bg-white border border-radius" style="cursor: pointer;" routerLink="/create-task"> Create
          Task</p>
      </div>
    </div>
    <div class="col-md-9 bg-secondary">
      <div class="card-body">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div>
    <div class="alert alert-dark" role="alert">
      A simple dark alert—check it out!
    </div>
  </div>

</div> -->
<router-outlet></router-outlet>